.layout-container {
  display: flex;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Evita barras de rolagem duplas */
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Apenas esta área rola */
  background-color: #f0f2f5;
}