.layout-container {
  display: flex;
  min-height: 100vh;
}

.content-area {
  flex-grow: 1; /* Faz esta área ocupar todo o espaço restante */
  padding: 2rem;
  overflow-y: auto; /* Adiciona scroll se o conteúdo for maior que a tela */
}