.comment-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.comment-author-icon {
  background-color: var(--background-light);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  flex-shrink: 0;
}

.comment-content {
  width: 100%;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.comment-author-name {
  font-weight: 700;
  color: var(--text-primary);
}

.comment-date {
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.comment-text {
  background-color: var(--background-light);
  padding: 1rem;
  border-radius: 8px;
  margin: 0;
  white-space: pre-wrap; /* Preserva as quebras de linha do texto */
}