.inventory-container {
    width: 100%; /* GARANTE QUE O CONTAINER OCUPE O ESPAÇO DISPONÍVEL */
    max-width: 1400px; /* Define um limite para telas muito grandes */
    margin: 0 auto; /* Centraliza o container quando o limite for atingido */
    padding: 2rem;
}

.list-container {
    overflow-x: auto;
}

.list-header, .inventory-item-component {
    min-width: 800px;
}

.list-header {
    display: flex;
    padding: 1rem 1.5rem;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
    font-weight: 600;
    color: #495057;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.list-header .header-item {
    display: flex;
    align-items: center;
    flex: 1.5;
    justify-content: center;
}

.list-header .header-item:first-child {
    flex: 3;
    justify-content: flex-start;
}