.stat-card-component .card-body {
    padding: 1.5rem;
}

.icon-container {
  padding: 12px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-container .title {
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 2px;
}

.info-container .value {
  font-size: 28px;
  font-weight: 600;
  color: #262626;
  line-height: 1.2;
}