.header-container {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.sidebar-toggle {
  display: none; /* Escondido em telas grandes */
  background: none;
  border: none;
  cursor: pointer;
  color: #595959;
}

/* --- Mídia Query para mostrar o botão em telas pequenas --- */
@media (max-width: 992px) {
  .sidebar-toggle {
    display: block;
  }
}